---
Language: Cpp
BasedOnStyle:  Google
AccessModifierOffset: -3
DerivePointerAlignment: false
IndentWidth:     4
AlignAfterOpenBracket: DontAlign
---
Language: Proto
BasedOnStyle:  Google
IndentWidth:     4
ColumnLimit:     120
---
Language: Json
DisableFormat: true
...
