# based on <https://clang.llvm.org/extra/clang-tidy/checks/list.html>
---
Checks: |
  bugprone-*,
  clang-analyzer-*,
  google-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,

CheckOptions:
  - { key: readability-identifier-naming.ClassCase,           value: CamelCase  }
  - { key: readability-identifier-naming.EnumCase,            value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,        value: CamelCase  }
  - { key: readability-identifier-naming.GlobalConstantCase,  value: UPPER_CASE }
  - { key: readability-identifier-naming.MemberCase,          value: lower_case }
  - { key: readability-identifier-naming.MemberSuffix,        value: _          }
  - { key: readability-identifier-naming.NamespaceCase,       value: lower_case }
  - { key: readability-identifier-naming.StructCase,          value: CamelCase  }
  - { key: readability-identifier-naming.UnionCase,           value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase,        value: lower_case }

WarningsAsErrors: clang-analyzer-*, google-*, performance-*, cppcoreguidelines-*, modernize-*, readability-*
# HeaderFilterRegex: "/src/.h"
