# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# clion
.idea
cmake-build-debug
CMakeLists.txt
bin
*.temp
.clwb

# cscope
cscope.out
cscope.in.out
cscope.po.out
cscope.files
tags

.sconsign.dblite
build.err
build.log

# python
*.pyc


# protobuf
*.pb.h
*.pb.cc

# bazel
bazel-*
bazel-bin
bazel-curve
bazel-genfiles
bazel-out
bazel-testlogs

# vscode
.vscode

# vimprj
.vimprj/

#log
*.log
runlog/

.clang-format
!curve-snapshotcloneserver-nginx/app/lib
!nebd/nebd-package/usr/bin

# mac
.DS_Store

test/client/configs/*
!test/client/configs/.gitkeep

projects/*
docker/curvebs
docker/base/*
!docker/base/Dockerfile
!docker/base/Makefile

# curvefs
curvefs/devops/projects/
curvefs/devops/ssh/
curvefs/devops/inventory
curvefs/BUILD_MODE
*.pyc
.facts/
*retry

curvefs/docker/curvefs
curvefs/docker/base/*
!curvefs/docker/base/Dockerfile
!curvefs/docker/base/Makefile
curvefs/BUILD_MODE

.BUILD_MODE
__not_found__
thirdparties/rocksdb/lib/
thirdparties/rocksdb/include/
thirdparties/rocksdb/rocksdb/
