#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE=1

extraopts += -DCMAKE_INSTALL_LIBDIR=/usr/lib
extraopts += -DCMAKE_INSTALL_LIBEXECDIR=/usr/lib
extraopts += -DCMAKE_INSTALL_SYSCONFDIR=/etc

%:
	dh $@ --buildsystem=cmake --parallel

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- $(extraopts)

override_dh_auto_clean:
	dh_auto_clean --buildsystem=cmake
	rm -f debian/nebd.logrotate

override_dh_auto_install:
	dh_auto_install --buildsystem=cmake --destdir=$(CURDIR)/debian/tmp

override_dh_installlogrotate:
	cp src/logrotate.conf debian/nebd.logrotate
	dh_installlogrotate -pnebd

override_dh_shlibdeps:
	LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):$(CURDIR)/debian/tmp
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_strip:
	dh_strip --dbg-package=nebd-dbg

# do not run tests
override_dh_auto_test:

.PHONY: override_dh_autoreconf override_dh_auto_configure override_dh_auto_build override_dh_auto_clean override_dh_auto_install override_dh_installdocs override_dh_installlogrotate override_dh_installinit override_dh_systemd_start override_dh_strip override_dh_auto_test
