Package: curve-mds
Section:
Priority: optional
Depends: libuuid1,libunwind8,libmysqlcppconn7v5
Suggests:
Architecture:amd64
Installed-Size:
Maintainer: curve-dev
Provides:
Description: curve metadata server
