# part2 socket file address
nebdserver.serverAddress={{ nebd_data_dir }}/nebd.sock

# 文件锁路径
metacache.fileLockPath={{ nebd_data_dir }}/lock

# 同步rpc的最大重试次数
request.syncRpcMaxRetryTimes={{ nebd_client_sync_rpc_retry_times }}
# rpc请求的重试间隔
request.rpcRetryIntervalUs={{ nebd_client_rpc_retry_inverval_us }}
# rpc请求的最大重试间隔
request.rpcRetryMaxIntervalUs={{ nebd_client_rpc_retry_max_inverval_us }}
# rpc hostdown情况下的重试时间
request.rpcHostDownRetryIntervalUs={{ nebd_client_rpc_hostdown_retry_inverval_us }}
# brpc的健康检查周期时间，单位s
request.rpcHealthCheckIntervalS={{ nebd_client_health_check_internal_s }}
# brpc从rpc失败到进行健康检查的最大时间间隔，单位ms
request.rpcMaxDelayHealthCheckIntervalMs={{ nebd_client_delay_health_check_internal_ms }}

# heartbeat间隔
heartbeat.intervalS={{ nebd_client_heartbeat_inverval_s }}
# heartbeat rpc超时时间
heartbeat.rpcTimeoutMs={{ nebd_client_heartbeat_rpc_timeout_ms }}

# 日志路径
log.path={{ nebd_log_dir }}/client
