# part2 socket file address
nebdserver.serverAddress={{ nebd_data_dir }}/nebd.sock

#File lock path
metacache.fileLockPath={{ nebd_data_dir }}/lock

#Maximum number of retries for synchronous rpc
request.syncRpcMaxRetryTimes={{ nebd_client_sync_rpc_retry_times }}
#The retry interval for rpc requests
request.rpcRetryIntervalUs={{ nebd_client_rpc_retry_inverval_us }}
#Maximum retry interval for rpc requests
request.rpcRetryMaxIntervalUs={{ nebd_client_rpc_retry_max_inverval_us }}
#The retry time in the case of rpc hostdown
request.rpcHostDownRetryIntervalUs={{ nebd_client_rpc_hostdown_retry_inverval_us }}
#The health check cycle time of brpc, in seconds
request.rpcHealthCheckIntervalS={{ nebd_client_health_check_internal_s }}
#The maximum time interval from rpc failure to health check in ms for brpc
request.rpcMaxDelayHealthCheckIntervalMs={{ nebd_client_delay_health_check_internal_ms }}
#Number of RPC send execution queues
request.rpcSendExecQueueNum={{ nebd_client_rpc_send_exec_queue_num }}

#Heartbeat interval
heartbeat.intervalS={{ nebd_client_heartbeat_inverval_s }}
#Heartbeat RPC timeout
heartbeat.rpcTimeoutMs={{ nebd_client_heartbeat_rpc_timeout_ms }}

#Log Path
log.path={{ nebd_log_dir }}/client
