#Curve client configuration file address
curveclient.confPath={{ client_config_path }}

#Brpc server listening port
listen.address={{ nebd_data_dir }}/nebd.sock

#Metadata file address, including file name
meta.file.path={{ nebd_data_dir }}/nebdserver.meta

#Heartbeat timeout
heartbeat.timeout.sec={{ nebd_server_heartbeat_timeout_s }}

#File timeout detection interval
heartbeat.check.interval.ms={{ nebd_server_heartbeat_check_interval_ms }}

# return rpc when io error
response.returnRpcWhenIoError={{ nebd_server_response_return_rpc_when_io_error }}
