#
# S3 options
#
s3.nos_address={{ s3_endpoint }}
s3.endpoint={{ s3_endpoint }}
s3.snapshot_bucket_name={{ s3_bucket_name }}
s3.bucket_name={{ s3_bucket_name }}
s3.ak={{ s3_ak }}
s3.sk={{ s3_sk }}
# http = 0, https = 1
s3.http_scheme={{ s3_http_scheme }}
s3.verify_SSL={{ s3_verify_ssl }}
s3.user_agent_conf={{ s3_user_agent_conf }}
s3.maxConnections={{ s3_max_connections }}
s3.connectTimeout={{ s3_connect_timeout }}
s3.requestTimeout={{ s3_request_timeout }}
# Off = 0,Fatal = 1,Error = 2,Warn = 3,Info = 4,Debug = 5,Trace = 6
s3.logLevel={{ s3_loglevel }}
s3.logPrefix={{ s3_logPrefix }}
s3.asyncThreadNum={{ s3_async_thread_num }}
# throttle
s3.throttle.iopsTotalLimit={{ s3_throttle_iopsTotalLimit }}
s3.throttle.iopsReadLimit={{ s3_throttle_iopsReadLimit }}
s3.throttle.iopsWriteLimit={{ s3_throttle_iopsWriteLimit }}
s3.throttle.bpsTotalMB= {{ s3_throttle_bpsTotalLimit }}
s3.throttle.bpsReadMB= {{ s3_throttle_bpsReadLimit }}
s3.throttle.bpsWriteMB= {{ s3_throttle_bpsWriteLimit }}
