#metastore options
#
metastore.db_name={{ snap_db_name }}
metastore.db_user={{ snap_db_user }}
metastore.db_passwd={{ snap_db_password }}
{% set db_host_and_port=snap_db_url.split(":") -%}
metastore.db_host={{ db_host_and_port[0] }}
{% if  db_host_and_port | length > 1 %}
metastore.db_port={{ db_host_and_port[1] }}
{% else %}
metastore.db_port={{ 3306 }}
{% endif %}

#
#server options
#
# for snapshot
server.address={{ snap_nginx_addr }}
