# mds地址
{% set mds_address=[] -%}
{% for host in groups.mds -%}
  {% set mds_ip = hostvars[host].ansible_ssh_host -%}
  {% set mds_port = hostvars[host].mds_port -%}
  {% set _ = mds_address.append("%s:%s" % (mds_ip, mds_port)) -%}
{% endfor -%}
mdsAddr={{ mds_address | join(',') }}
# mds dummy port
mdsDummyPort={{ hostvars[groups.mds[0]].mds_dummy_port }}
# 发送rpc的超时时间
rpcTimeout={{ tool_rpc_timeout }}
# rpc重试次数
rpcRetryTimes={{ tool_rpc_retry_times }}
# etcd地址
{% set etcd_address=[] -%}
{% for host in groups.etcd -%}
  {% set etcd_ip = hostvars[host].ansible_ssh_host -%}
  {% set etcd_port = hostvars[host].etcd_listen_client_port -%}
  {% set _ = etcd_address.append("%s:%s" % (etcd_ip, etcd_port)) -%}
{% endfor -%}
etcdAddr={{ etcd_address | join(',') }}
{% if groups.snapshotclone is defined and groups.snapshotclone[0] is defined %}
# snapshot clone server 地址
{% set snap_address=[] -%}
{% for host in groups.snapshotclone -%}
  {% set snap_ip = hostvars[host].ansible_ssh_host -%}
  {% set snap_port = hostvars[host].snapshot_port -%}
  {% set _ = snap_address.append("%s:%s" % (snap_ip, snap_port)) -%}
{% endfor -%}
snapshotCloneAddr={{ snap_address | join(',') }}
# snapshot clone server dummy port
snapshotCloneDummyPort={{ hostvars[groups.snapshotclone[0]].snapshot_dummy_port }}
{% endif -%}
