#!/bin/bash

# default config path
confPath={{ chunkserver_conf_path }}
dataDir={{ chunkserver_data_dir }}
raftLogProtocol={{ chunkserver_raft_log_procotol }}
source ./chunkserver_deploy.sh

# Usage
function help() {
    echo "COMMANDS:"
    echo "    start   :  start chunkserver"
    echo "    stop    :  stop chunkserver"
    echo "    restart : restart chunkserver"
    echo "    status  : show the online status of chunkserver"
    echo "    deploy  : prepare the chunkserver running environment"
    echo "    deploy-wal-pool  : prepare the wal pool"
    echo "    format  : format the chunkfile pool"
    echo "USAGE:"
    echo "    start all chunkservers              : ./chunkserver_ctl.sh start all"
    echo "    start one chunkserver               : ./chunkserver_ctl.sh start {\$chunkserverId}"
    echo "    stop all chunkservers               : ./chunkserver_ctl.sh stop all"
    echo "    stop one chunkserver                : ./chunkserver_ctl.sh stop {\$chunkserverId}"
    echo "    restart all chunkservers            : ./chunkserver_ctl.sh restart all"
    echo "    restart one chunkserver             : ./chunkserver_ctl.sh restart {\$chunkserverId}"
    echo "    show the status of all chunkservers : ./chunkserver_ctl.sh status all"
    echo "    show the status of one chunkserver  : ./chunkserver_ctl.sh status {\$chunkserverId}"
    echo "    record uuid meta in all disks       : ./chunkserver_ctl.sh record-meta"
    echo "    deploy all disk                     : ./chunkserver_ctl.sh deploy all"
    echo "    deploy one disk                     : ./chunkserver_ctl.sh deploy /dev/sd{id} /data/chunkserver{id}"
    echo "    deploy all wal pool                 : ./chunkserver_ctl.sh deploy-wal-pool all"
    echo "    deploy one wal pool                 : ./chunkserver_ctl.sh deploy-wal-pool {\$chunkserverId}"
    echo "    format by percent                   : ./chunkserver_ctl.sh format -allocatePercent=80 -fileSystemPath=/data/chunkserver{id} "
    echo "                                          -filePoolDir=/data/chunkserver{id}/filepool/"
    echo "                                          -filePoolMetaPath=/data/chunkserver{id}/filepool.meta"
    echo "    format by chunk numbers             : ./chunkserver_ctl.sh format -allocateByPercent=false -preAllocateNum=100"
    echo "                                          -fileSystemPath=/data/chunkserver{id} "
    echo "                                          -filePoolDir=/data/chunkserver{id}/filepool/"
    echo "                                          -filePoolMetaPath==/data/chunkserver{id}/filepool.meta"

    echo "OPSTIONS:"
    echo "    [-c|--confPath path]  chunkserver conf path need for start command, default:/etc/curve/chunkserver.conf"
    echo "    [-nc|--noConfirm]  if specified, deploy no need to confirm"
}

function ip_value() {
  echo $1 | awk -F '[:/.]' '{
    mask = (2 ^ 8)
    printf ("%.0f", (($1 * mask + $2) * mask + $3) * mask + $4)
  }'
}

# Obtain IP from subnet
function get_ip_from_subnet() {
    subnet=$1
    prefix=$(ip_value $subnet)
    mod=`echo $subnet|awk -F/ '{print $2}'`
    mask=$((2**32-2**(32-$mod)))
    # Take the module again for the prefix to support the format 10.182.26.50/22
    prefix=$(($prefix&$mask))
    ip=
    for i in `/sbin/ifconfig -a|grep inet|grep -v inet6|awk '{print $2}'|tr -d "addr:"`
    do
        # Convert IP to an integer
        ip_int=$(ip_value $i)
        if [ $(($ip_int&$mask)) -eq $prefix ]
        then
            ip=$i
            break
        fi
    done
    if [ -z "$ip" ]
    then
        echo "no ip matched!\n"
        exit 1
    fi
}

# Start chunkserver
function start() {
    if [ $# -lt 1 ]
    then
        help
        return 1
    fi
    if [ $# -gt 2 ]
    then
	    confPath=$3
    fi
    # Check configuration file
    if [ ! -f ${confPath} ]
    then
        echo "confPath $confPath not exist!"
        return 1
    fi
    # parse subnet mask from config
    internal_subnet=`cat $confPath|grep global.subnet|awk -F"=" '{print $2}'`
    port=`cat $confPath|grep global.port|awk -F"=" '{print $2}'`
    get_ip_from_subnet $internal_subnet
    internal_ip=$ip
    echo "ip: $internal_ip"
    echo "base port: $port"
    external_subnet=`cat $confPath|grep global.external_subnet|awk -F"=" '{print $2}'`
    get_ip_from_subnet $external_subnet
    external_ip=$ip
    enableExternalServer=true
    # Do not start the external server when the external IP and internal IP are consistent or when the external IP is 127.0.0.1
    if [ $internal_ip = $external_ip -o $external_ip = "127.0.0.1" ]
    then
        enableExternalServer=false
    else
        echo "external_ip: $external_ip"
    fi

    if [ "$1" = "all" ]
    then
        ret=`ls ${dataDir} |grep chunkserver| sed 's/[^0-9]//g'`
        for i in $ret
        do
            start_one $i
        done
    else
        start_one $1
    fi
    sleep 1
    status $1
}

function start_one() {
    if [ $1 -lt 0 ]
    then
        echo "chunkserver num $1 is not ok"
        return 1
    fi

    ps -efl|grep -E "curve-chunkserver .*${dataDir}/chunkserver$1 "|grep -v grep
    if [ $? -eq 0 ]
    then
        echo "chunkserver$1 is already active!"
        return 0
    fi

    mkdir -p ${dataDir}/log/chunkserver$1
    if [ $? -ne 0 ]
    then
        echo "Create log dir failed: ${dataDir}/log/chunkserver$1"
        return 1
    fi

    jemallocpath={{ jemalloc_path }}
    # Check the Jemalloc library file
    if [ ! -f ${jemallocpath} ]
    then
        echo "Not found jemalloc library, Path is ${jemallocpath}"
        exit 1
    fi
    LD_PRELOAD=${jemallocpath} curve-chunkserver \
            -bthread_concurrency=18 -raft_max_segment_size=8388608 \
            -raft_max_install_snapshot_tasks_num=1 -raft_sync=true  \
            -conf=${confPath} \
            -chunkFilePoolDir=${dataDir}/chunkserver$1 \
            -chunkFilePoolMetaPath=${dataDir}/chunkserver$1/chunkfilepool.meta \
            -walFilePoolDir=${dataDir}/chunkserver$1 \
            -walFilePoolMetaPath=${dataDir}/chunkserver$1/walfilepool.meta \
            -chunkServerIp=$internal_ip \
            -enableExternalServer=$enableExternalServer \
            -chunkServerExternalIp=$external_ip \
            -chunkServerPort=$((${port}+${1})) \
            -chunkServerMetaUri=local://${dataDir}/chunkserver$1/chunkserver.dat \
            -chunkServerStoreUri=local://${dataDir}/chunkserver$1/ \
            -copySetUri=local://${dataDir}/chunkserver$1/copysets \
            -raftSnapshotUri=curve://${dataDir}/chunkserver$1/copysets \
            -raftLogUri=${raftLogProtocol}://${dataDir}/chunkserver$1/copysets \
            -recycleUri=local://${dataDir}/chunkserver$1/recycler \
            -raft_sync_segments=true \
            -graceful_quit_on_sigterm=true \
            -raft_use_fsync_rather_than_fdatasync=false \
            -log_dir=${dataDir}/log/chunkserver$1 > /dev/null 2>&1 &
}

function stop() {
    if [ $# -lt 1 ]
    then
        help
        return 1
    fi
    # stop all
    if [ "$1" = "all" ]
    then
        echo "kill all chunkservers"
        killall curve-chunkserver
        return 0
    fi

    if [ $1 -lt 0 ]
    then
        echo "chunkserver num $1 is not ok"
        return 1
    fi

    echo "kill chunkserver $1"
    kill `ps -efl|grep -E "curve-chunkserver .*${dataDir}/chunkserver$1 "|grep -v grep|awk '{print $4}'`
}

function restart() {
    if [ $# -lt 1 ]
    then
        help
        return 1
    fi
    if [ $# -gt 2 ]
    then
	    confPath=$3
    fi
    stop $1
    if [ "$1" = "all" ]
    then
        ret=`ls ${dataDir} |grep chunkserver| sed 's/[^0-9]//g'`
        for j in $ret
        do
        {
            wait_stop $j
        } &
        done
        wait
    else
        wait_stop $1
    fi
    start $1
}

function wait_stop() {
    # Wait for 3 seconds to exit
    retry_times=0
    while [ $retry_times -le 3 ]
    do
        ((retry_times=$retry_times+1))
        ps -efl|grep -E "curve-chunkserver .*${dataDir}/chunkserver$1 "|grep -v grep > /dev/null 2>&1
        if [ $? -eq 0 ]
        then
            sleep 1
            continue
        else
            break
        fi
    done
    # If the process is still in progress, kill -9
    ps -efl|grep -E "curve-chunkserver .*${dataDir}/chunkserver$1 "|grep -v grep > /dev/null 2>&1
    if [ $? -eq 0 ]
    then
        echo "The process of chunkserver$1 still exists after 3s, now kill -9 it"
        kill -9 `ps -efl|grep -E "curve-chunkserver .*${dataDir}/chunkserver$1 "|grep -v grep|awk '{print $4}'`
    fi
}

function status() {
    if [ $# -lt 1 ]
    then
        help
        return 1
    fi
    if [ "$1" = "all" ]
    then
        for i in `ls ${dataDir} |grep chunkserver|sed 's/[^0-9]//g'`
        do
            status_one $i
        done
    else
        status_one $1
    fi
}

function status_one() {
    ps -efl|grep -E "curve-chunkserver .*${dataDir}/chunkserver$1 "|grep -v grep > /dev/null 2>&1
    if [ $? -eq 0 ]
    then
        echo "chunkserver$1 is active!"
        return 0
    else
        echo "chunkserver$1 is down"
        return 1
    fi
}

confirm=true

function do_confirm_if_need() {
    if [ "$1" != "--noConfirm" ]
    then
        do_confirm
    fi
}

function deploy() {
    if [ $# -lt 1 ]
    then
        help
        return 1
    fi

    if [ "$1" = "all" ]
    then
        if [ $# -gt 1 ]
        then
            do_confirm_if_need $2
        else
            do_confirm
        fi
        deploy_all
        return $?
    fi

    if [ $# -ge 2 ]
    then
        if [ $# -gt 2 ]
        then
            do_confirm_if_need $3
        else
            do_confirm
        fi
        deploy_one $@;
        return $?
    fi
    usage;
}

function format() {
     Format chunkfile pool
    curve-format $*
}

function recordmeta() {
    # Back up the current disk's uuid and its md5 to the disk's disk.meta file
    meta_record;
}

function deploy-wal-pool() {
    if [ $# -lt 1 ]
    then
        help
        return 1
    fi

    if [ $# -gt 1 ]
    then
        do_confirm_if_need $2
    else
        do_confirm
    fi

    if [ "$1" = "all" ]
    then
        walfile_pool_prep
        return $?
    else
        deploy_one_walfile_pool $1
        wait
    fi
}


function main() {
    if [ $# -lt 1 ]
    then
        help
        return 1
    fi

    case $1 in
    "start")
        shift # pass first argument
        start $@
        ;;
    "stop")
        shift # pass first argument
        stop $@
        ;;
    "restart")
        shift # pass first argument
        restart $@
        ;;
    "status")
        shift # pass first argument
        status $@
        ;;
    "deploy")
        shift # pass first argument
        deploy $@
        ;;
    "format")
        shift # pass first argument
        format $@
        ;;
    "record-meta")
        shift
        recordmeta
        ;;
    "deploy-wal-pool")
        shift
        deploy-wal-pool $@
        ;;

    *)
        help
        ;;
    esac
}

main $@
