#!/bin/bash

# Default configuration file
confPath={{ etcd_config_path }}

# Log file directory
logDir={{ etcd_log_dir }}

# Log file path
logPath=${logDir}/etcd.log

# pidfile
pidFile=${HOME}/etcd.pid

# daemon log
daemonLog=${logDir}/daemon-etcd.log

# Start etcd
function start_etcd() {
    # Create logDir
    mkdir -p ${logDir} > /dev/null 2>&1
    if [ $? -ne 0 ]
    then
        echo "Create etcd log dir failed: ${logDir}"
        exit 1
    fi

    # Check if logPath has write permission
    if [ ! -w ${logDir} ]
    then
        echo "Write permission denied: ${logDir}"
        exit 1
    fi

    # Check if logPath is writable or can be created
    touch ${logPath} > /dev/null 2>&1
    if [ $? -ne 0 ]
    then
        echo "Can't Write or Create etcd logfile: ${logPath}"
        exit
    fi

    # Check if the daemonLog is writable or can be created
    touch ${daemonLog} > /dev/null 2>&1
    if [ $? -ne 0 ]
    then
        echo "Can't Write or Create daemon logfile: ${daemonLog}"
        exit
    fi

    # Check the daemon
    if ! type daemon &> /dev/null
    then
        echo "No daemon installed"
        exit
    fi

    # Check if etcd is installed
    if [ -z `command -v etcd`  ]
    then
        echo "No etcd installed"
        exit
    fi

    # Check configuration file
    if [ ! -f ${confPath} ]
    then
        echo "Not found confFile, Path is ${confPath}"
        exit
    fi

    # Determine if ETCD has been started through daemon
    daemon --name etcd --pidfile ${pidFile} --running
    if [ $? -eq 0 ]
    then
        echo "Already started etcd by daemon"
        exit
    fi

    # The pidfile does not exist or the daemon process does not exist
    # Start the daemon, switch paths, and start ETCD


    daemon --name etcd --core \
        --respawn --attempts 100 --delay 10 \
        --pidfile ${pidFile} \
        --errlog ${daemonLog} \
        --output ${logPath} \
	--unsafe \
        -- {{ install_etcd_dir }}/etcd --config-file ${confPath}
}

# Stop the daemon process and ETCD
function stop_etcd() {
    # Determine if ETCD has been started through daemon
    daemon --name etcd --pidfile ${pidFile} --running
    if [ $? -ne 0 ]
    then
        echo "Didn't start etcd by daemon"
        exit 0
    fi

    daemon --name etcd --pidfile ${pidFile} --stop
    if [ $? -ne 0 ]
    then
        echo "stop may not success!"
    else
        echo "etcd exit success!"
        echo "daemon exit success!"
    fi
}

# restart
function restart_etcd() {
    # Determine if ETCD has been started through daemon
    daemon --name etcd --pidfile ${pidFile} --running
    if [ $? -ne 0 ]
    then
        echo "Didn't start etcd by daemon"
        exit 1
    fi

    daemon --name etcd --pidfile ${pidFile} --restart
    if [ $? -ne 0 ]
    then
        echo "Restart failed"
    fi
}

# Usage
function usage() {
    echo "Usage:"
    echo "  etcd-daemon start -- start deamon process and watch on etcd process"
    echo "        [-c|--confPath path]        etcd conf path"
    echo "        [-l|--logPath  path]        etcd log path"
    echo "  etcd-daemon stop  -- stop daemon process and etcd"
    echo "  etcd-daemon restart -- restart etcd"
    echo "Examples:"
    echo "  etcd-daemon start -c /etcd/etcd.conf.yml -l ${HOME}/etcd.log"
}

# Check parameter startup parameters, at least 1
if [ $# -lt 1 ]
then
    usage
    exit
fi

case $1 in
"start")
    shift # pass first argument

    # Parsing parameters
    while [[ $# -gt 1 ]]
    do
        key=$1

        case $key in
        -c|--confPath)
            confPath=`realpath $2`
            shift # pass key
            shift # pass value
            ;;
        -l|--logPath)
            logPath=`realpath $2`
            shift # pass key
            shift # pass value
            ;;
        *)
            usage
            exit
            ;;
        esac
    done

    start_etcd
    ;;
"stop")
    # Stop the daemon and etcd processes
    stop_etcd
    ;;
"restart")
    # Restart etcd
    restart_etcd
    ;;
*)
    usage
    ;;
esac
