#!/bin/bash

#Curve snapshot clone server path
curveBin={{ curve_bin_dir }}/curve-snapshotcloneserver

#Default configuration file
confPath={{ snapshot_config_path }}

#Log file path
logPath={{ snapshot_clone_server_log_dir }}

# serverAddr
serverAddr=

# pidfile
pidFile=${HOME}/curve-snapshot.pid

# daemon log
daemonLog=${logPath}/curve-snapshot-daemon.log

# console output
consoleLog=${logPath}/curve-snapshot-console.log

function ip_value() {
  echo $1 | awk -F '[:/.]' '{
    mask = (2 ^ 8)
    printf ("%.0f", (($1 * mask + $2) * mask + $3) * mask + $4)
  }'
}

#Starting Snapshotclone Server
function start_server() {
    #Check the daemon
    if ! type daemon &> /dev/null
    then
        echo "No daemon installed"
        exit
    fi

    #Check the curve snapshot clone server
    if [ ! -f ${curveBin} ]
    then
        echo "No curve-snapshotcloneserver installed, Path is ${curveBin}"
        exit
    fi

    #Check configuration file
    if [ ! -f ${confPath} ]
    then
        echo "Not found snapshot_clone_server.conf, Path is ${confPath}"
        exit
    fi

    #Determine if the curve snapshot clone server has been started through daemon
    daemon --name curve-snapshotcloneserver --pidfile ${pidFile} --running
    if [ $? -eq 0 ]
    then
        echo "Already started curve-snapshotcloneserver by daemon"
        exit
    fi

    #Create logPath
    mkdir -p ${logPath} > /dev/null 2>&1
    if [ $? -ne 0 ]
    then
        echo "Create log path failed: ${logPath}"
        exit
    fi

    #Check if logPath has write permission
    if [ ! -w ${logPath} ]
    then
        echo "Write permission denied: ${logPath}"
        exit 1
    fi

    #Check if the consoleLog can be written or created, and store the logs before initializing the glog here
    touch ${consoleLog} > /dev/null 2>&1
    if [ $? -ne 0 ]
    then
        echo "Can't Write or Create console log: ${consoleLog}"
        exit
    fi

    #Check if the daemonLog is writable or can be created
    touch ${daemonLog} > /dev/null 2>&1
    if [ $? -ne 0 ]
    then
        echo "Can't Write or Create daemon logfile: ${daemonLog}"
        exit
    fi

    #No serverAddr specified, resolving network segment from configuration file
    if [ -z ${serverAddr} ]
    then
        subnet=`cat $confPath|grep server.subnet|awk -F"=" '{print $2}'`
        port=`cat $confPath|grep server.port|awk -F"=" '{print $2}'`
        prefix=$(ip_value $subnet)
        mod=`echo $subnet|awk -F/ '{print $2}'`
        mask=$((2**32-2**(32-$mod)))
        ip=
        echo "subnet: $subnet"
        echo "port: $port"
        #Take the module again for the prefix to support the format 10.182.26.50/22
        prefix=$(($prefix&$mask))
        for i in `/sbin/ifconfig -a|grep inet|grep -v inet6|awk '{print $2}'|tr -d "addr:"`
        do
                #Convert IP to an integer
                ip_int=$(ip_value $i)
                if [ $(($ip_int&$mask)) -eq $prefix ]
                then
                    ip=$i
                    break
                fi
        done
        if [ -z "$ip" ]
        then
                echo "no ip matched!\n"
                return 1
        fi
        serverAddr=${ip}:${port}
    fi

    daemon --name curve-snapshotcloneserver --core --inherit \
            --respawn --attempts 100 --delay 10 \
            --pidfile ${pidFile} \
            --errlog ${daemonLog} \
            --output ${consoleLog} \
            -- ${curveBin} -conf=${confPath} -addr=${serverAddr} -log_dir=${logPath} -stderrthreshold=3 -graceful_quit_on_sigterm=true

    sleep 1
    show_status
}

#Stop the daemon process and curve snapshot clone server
function stop_server() {
    #Determine if the curve snapshot clone server has been started through daemon
    daemon --name curve-snapshotcloneserver --pidfile ${pidFile} --running
    if [ $? -ne 0 ]
    then
        echo "Didn't start curve-snapshotcloneserver by daemon"
        exit 0
    fi

    daemon --name curve-snapshotcloneserver --pidfile ${pidFile} --stop
    if [ $? -ne 0 ]
    then
        echo "stop may not success!"
    else
        echo "curve-snapshotcloneserver exit success!"
        echo "daemon exit success!"
    fi
}

# restart
function restart_server() {
    #Determine if the curve snapshot clone server has been started through daemon
    daemon --name curve-snapshotcloneserver --pidfile ${pidFile} --running
    if [ $? -ne 0 ]
    then
        echo "Didn't started curve-snapshotcloneserver by daemon"
        exit
    fi

    daemon --restart --name curve-snapshotcloneserver --pidfile ${pidFile}
    if [ $? -ne 0 ]
    then
        echo "Restart failed"
    fi
}

# show status
function show_status() {
    #Determine if the curve snapshot clone server has been started through daemon
    daemon --name curve-snapshotcloneserver --pidfile ${pidFile} --running
    if [ $? -ne 0 ]
    then
        echo "Didn't start curve-snapshotcloneserver by daemon"
        exit 1
    fi

    #Query the IP of the leader
    leaderAddr=`tac ${consoleLog}|grep -a -m 1 -B 1000000 "Logging before InitGoogleLogging()"|grep "leader"|grep -E -o "([0-9]{1,3}[\.]){3}[0-9]{1,3}"|head -n1`

    #If there are no leader related logs in the logs after load configuration
    #So the leaderAddr is empty, and the snapshot clone server should not be up
    if [ -z ${leaderAddr} ]
    then
        echo "SnapshotClone may not start successfully, check log"
        exit 1
    fi

    if [ ${leaderAddr} = "127.0.0.1" ]
    then
        echo "Current SnapshotClone is LEADER"
    else
        #Check if it is equal to its own IP address
        for ip in `(hostname -I)`
        do
            if [ ${leaderAddr} = ${ip} ]
            then
                echo "Current SnapshotClone is LEADER"
                exit
            fi
        done

        echo "Current SnapshotClone is FOLLOWER, LEADER is ${leaderAddr}"
    fi
}

#Usage
function usage() {
    echo "Usage:"
    echo "  snapshot-daemon start -- start deamon process and watch on curve-snapshotcloneserver process"
    echo "        [-c|--confPath path]        configuration file"
    echo "        [-l|--logPath  path]        log directory"
    echo "        [-a|--serverAddr  ip:port]  listening address"
    echo "  snapshot-daemon stop  -- stop daemon process and curve-snapshotcloneserver"
    echo "  snapshot-daemon restart -- restart curve-snapshotcloneserver"
    echo "  snapshot-daemon status -- show snapshotcloneserver status [LEADER/STATUS]"
    echo "Examples:"
    echo "  snapshot-daemon start -c /etc/curve/snapshot_clone_server.conf -l ${HOME}/ -a 127.0.0.1:5555"
}

#Check parameter startup parameters, at least 1
if [ $# -lt 1 ]
then
    usage
    exit
fi

case $1 in
"start")
    shift # pass first argument

    #Parsing parameters
    while [[ $# -gt 1 ]]
    do
        key=$1

        case $key in
        -c|--confPath)
            confPath=`realpath $2`
            shift # pass key
            shift # pass value
            ;;
        -a|--serverAddr)
            serverAddr=$2
            shift # pass key
            shift # pass value
            ;;
        -l|--logPath)
            logPath=`realpath $2`
            shift # pass key
            shift # pass value
            ;;
        *)
            usage
            exit
            ;;
        esac
    done

    start_server
    ;;
"stop")
    stop_server
    ;;
"restart")
    restart_server
    ;;
"status")
  show_status
  ;;
*)
    usage
    ;;
esac
