<disk type="network" device="disk">
  {%- if target_dev == 'sdc' %}
    <driver type="raw" cache="none" discard="unmap"/>
    <target bus="scsi" dev="{{ target_dev }}"/>
  {% else %}
    <driver type="raw" cache="none"/>
    <target bus="virtio" dev="{{ target_dev }}"/>
  {%- endif %}
    <source protocol="{{ protocol }}" name="{{ disk_name }}">
    {%- if protocol == 'rbd' %}
      {% for mon_host in mon_hosts -%}
        <host name="{{ mon_host }}" port="6789"/>
      {% endfor -%}
    {% endif -%}
    </source>
</disk>