name: pull-request
on:
  pull_request:
    types: [opened, reopened]
jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - uses: delivery-much/actions-assigner@v1
        with:
          reviewers: cw123,ilixiaocui,wuhongsong,Cyber-SiKu,jolly-sy
